$color-primary: #d14a50;
$color-secondary: #e4e4e4;
$color-tertiary: white;
$color-quaternary: #333;
$color-quinary: #c8986e;
$color-senary: #534588;

$transition: background 500ms ease-in-out;
$color-border-input: $color-quinary;
$base-font-size: 10px;
$font-stack-sans-serif: 'Lato', sans-serif;
